/.idea
__pycache__/
/Data
*.jpg
*.gdoc
*.ini
.DS_Store
.vscode/
/Results
Notebooks/Clustering/.ipynb_checkpoints/Set Filtering Options - Crystal-checkpoint.ipynb

Notebooks/Clustering/.ipynb_checkpoints/Set Filtering Options - Lakeland-checkpoint.ipynb

Notebooks/Clustering/.ipynb_checkpoints/Set Filtering Options - Waves-checkpoint.ipynb
